.navbar{
  z-index: 1;
}
.theme {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 10%;
  right: 3%;
  /* z-index: 1; */
}
.themes {
  width: 10px;
  text-align: center;
  height: 3px;
  border: 1px solid white;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10%;
}
.theme-active {
  border-radius: 50% !important;
}
/* Home */
.profileDetails {
  width: 100%;
  height: calc(100vh - 10px);
}
.top video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin-bottom: -60px;
  z-index: -1;
}
.profile-content{
  position: absolute;
  top: 0;
  width: 100vw; 
}
.middle {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle img {
  width: 140px;
  height: 140px;
  clip-path: circle(50%);
  margin-bottom: 20px;
}
.hireButton{
  position: absolute;
  bottom:0;
  width: 100vw;
  height: 100px;  
  border: 1px solid lightgrey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hire_buttons{
  border: 1px solid lightgrey;
  width: 100vw;
  height: 90px;
}
.icon{
  font-size:26px !important;
  cursor: pointer;
}
/* About */
.AboutSection{
  height: fit-content;
  display: flex;
  justify-content:flex-start;
  align-items:flex-end;
  /* z-index: 1; */
}
.AboutSection > .top{
  position:fixed;
  top:60px;
  display: flex;
  align-items: center;
  justify-content: center !important;
  margin: 10px 10px 0px 10px;
  height: 40px;
  width:fit-content;  
  /* z-index: 1;   */
  margin-bottom: 100px;
  background-image: url("https://media.istockphoto.com/photos/forest-wooden-table-background-summer-sunny-meadow-with-green-grass-picture-id1353553203?b=1&k=20&m=1353553203&s=170667a&w=0&h=QTyTGI9tWQluIlkmwW0s7Q4z7R_IT8egpzzHjW3cSas=") !important;
  color: black;
}
.About_left{
  /* background: white; */
  margin:0 20px;
}
.icons{
  font-size:20px !important;
  margin-right: 3px;
}
.breadcrumbs li:first-child{
  color: blue;
}

.about_middle{
  margin-top: 8% !important;
  width: calc(100% - 40px);
  margin: 20px;
  height: fit-content;
  display: flex;
  gap: 10px; 
  padding: 10px;
  flex-wrap: wrap;
 /* z-index: 1; */
}

.about_icon{
  font-size :20px !important;
  margin: 10px 20px;
}

.about_middle .text,.aboutme .text{
  margin: 10px 20px;
  text-align: justify;
  word-spacing: 1px;
}
.about_middle_items{
  width: 45%;
  padding: 10px;
  border: 1px solid lightgrey;
}

.about_title{
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  margin:20px 10px 0px 10px;
}

@media all and (orientation: portrait) {
  .about_middle{
    flex-direction: column;
    height: 200%;
    margin-top: 20% !important;
  }
  .about_middle div{
    width: 100%;
  }
  .education-icons{
    width: 40px !important;
  }
}