.footer-icon {
  font-size: 20px !important;
  color:white !important;
}
.footer-title{
    color: white !important;
    margin-left: 12px !important;
}

.footers {
  position: relative;
  width: 100vw;
  height: fit-content;

}

.footers video {
  width: 100vw;
  height: 35vh;
  object-fit: cover;
  z-index: -1;
}

.footer{
    position: absolute;
    bottom: 0;
}
@media all and (orientation: portrait) {
  .footer-icon {
    font-size: 15px !important;
  }
  .footers video {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}
}
