@tailwind base;
@tailwind components;
@tailwind utilities;

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins" !important;
   -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.links,
a {
  text-decoration: none !important;
}
::-webkit-scrollbar {
 display: none !important;
}

/* ::-webkit-scrollbar-thumb {
  background: white;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
